Repository puffynNeroun/puffynNeroun, changes with the labels that .github/labeler.yml gives for each.
All labels: feature, fix, docs, chore, deps, actions

Update labeler.yml
  .github/workflows/labeler.yml
Labels: chore, actions

Create package.json
  package.json
Labels: deps

Update package.json
  package.json
Labels: deps

Update update-readme.yml
  .github/workflows/update-readme.yml
Labels: chore, actions

Update dependabot.yml
  .github/dependabot.yml
Labels: chore

Create seed-labels.yml
  .github/workflows/seed-labels.yml
Labels: chore, actions

Update update-readme.yml
  .github/workflows/update-readme.yml
Labels: chore, actions

Update dependabot.yml
  .github/dependabot.yml
Labels: chore

Update labeler.yml
  .github/workflows/labeler.yml
Labels: chore, actions

.github/labeler.yml:

# Конфигурация для actions/labeler@v5
feature:
  - changed-files:
      - any-glob-to-any-file: ["src/**", "app/**", "packages/**"]

fix:
  - changed-files:
      - any-glob-to-any-file: ["**/*.ts", "**/*.tsx", "**/*.js", "src/**"]

docs:
  - changed-files:
      - any-glob-to-any-file: ["README.md", "docs/**"]

chore:
  - changed-files:
      - any-glob-to-any-file: [".github/**", "**/*.yml", "**/*.yaml"]

deps:
  - changed-files:
      - any-glob-to-any-file: ["package.json", "yarn.lock", "pnpm-lock.yaml"]

actions:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**"]
